{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
    {% for ownedStock in ownedStocks %}
      <tr>
        <th scope="row">{{ ownedStock[0] }}</th>
        <td>{{ ownedStock[1] }}</td>
        <td>{{ ownedStock[2] }}</td>
        <td>{{ ownedStock[3] }}</td>
        <td>{{ ownedStock[4] }}</td>
      </tr>
    {% endfor %}
      <tr>
        <th scope="row">Cash</th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ cash }}</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ totalValue }}</td>
      </tr>
      </tbody>
    </table>
{% endblock %}
